// @import url("/src/styles/animations.scss");
@import "@/styles/animations.scss";
@import "@/styles/mixins.scss";

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--color-white);
  border-radius: 15px;
}

// .game:hover {
//   animation: rotate 5s infinite;
//   background-color: pink;
// }

.gameimg {
  border-radius: 100%;
}
.gametitle {
  color: var(--color-dark-brown);
  font-size: 25px;
  font-family: var(--font-bitbit);
}
