@font-face {
  font-family: "chab";
  src: url("/fonts/chab.ttf") format("truetype");
}

@font-face {
  font-family: "bitbit";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}

@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
}
:root {
  /* COLOR */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #ff0000;
  --color-gray1: #404040;
  --color-gray2: #727272;
  --color-gray3: #a0a0a0;
  --color-gray4: #bcbcbc;
  --color-gray6: #dcdcdc;
  --color-gray7: #f9f9f9;

  --color-pink1: #d14d72;
  --color-pink2: #e6a4b4;
  --color-pink3: #e6a4b4;
  --color-pink4: #fcc8d1;

  --color-dark-beige: #ffd1da;
  --color-light-beige: #fff0f5;

  // --color-dark-brown: #594a45;
  // --color-light-brown: #8c7977;

  /* FONT FAMILY */
  --font-chab: chab;
  --font-bitbit: bitbit;
  --font-omyu: omyu_pretty;
}
