@import "@/styles/animations";
@import "@/styles/mixins";

.wrapper {
  @include center(column);
  @include size(400px, 85%, 0 10px, 0px);
  justify-content: space-around;
  border-radius: 15px;
  background-color: var(--color-white);
  &:hover {
    .img {
      animation: rotate 5s linear infinite;
    }
  }
  .img {
    border-radius: 100%;
  }
  .title {
    @include center(row);
    font: 25px var(--font-bitbit);
    color: var(--color-pink1);
  }
}
