@import "@/styles/animations";
@import "@/styles/mixins";

.game {
  @include center(column);
  @include wh-full;
  justify-content: space-evenly;
  border-radius: 15px;
  background-color: var(--color-white);
  &:hover {
    .img {
      animation: rotate 10s linear infinite;
    }
  }
  .img {
    border-radius: 100%;
  }
  .title {
    font: 25px var(--font-bitbit);
    color: var(--color-dark-brown);
  }
}
