@font-face {
  font-family: "chab";
  src: url("/fonts/chab.ttf") format("truetype");
}

@font-face {
  font-family: "bitbit";
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
    url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}

:root {
  /* COLOR */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray1: #404040;
  --color-gray2: #727272;
  --color-gray3: #a0a0a0;
  --color-gray4: #bcbcbc;
  --color-gray6: #dcdcdc;
  --color-gray7: #f9f9f9;

  --color-dark-pink: #eb9f9f;
  --color-light-pink: #f1bbba;
  --color-dark-beige: #f8ecc9;
  --color-light-beige: #fffaea;
  --color-dark-brown: #5e5850;
  --color-light-brown: #a79c8e;

  /* FONT FAMILY */
  --font-chab: chab;
  --font-bitbit: bitbit;
}
