@import "@/styles/mixins";

.wrapper {
  @include center(column);
  @include wh-full;
  .title {
    font: 50px var(--font-chab);
    text-shadow: 2px 2px 4px var(--color-gray2);
    color: var(--color-light-beige);
  }
  .title_point {
    color: var(--color-pink3);
  }

  .gamelist {
    @include center(row);
    @include size(70%, 55%, 40px, 40px);
    @include scroll();
    justify-content: flex-start;
    overflow-y: auto;
    border-radius: 15px;
    background-color: var(--color-light-beige);
  }
}
