@import "@/styles/mixins";

.wrapper {
  @include center(column);
  @include wh-full;
  .title {
    font: 60px var(--font-chab);
    text-shadow: 2px 2px 4px var(--color-gray2);
    color: var(--color-dark-beige);
  }
  .title_point {
    color: var(--color-light-pink);
  }

  .gamelist {
    @include grid;
    @include size(70%, 40%, 40px, 40px);
    border-radius: 15px;
    background-color: var(--color-light-beige);
  }
}
