@use "src/styles/mixins" as m;

.wrapper {
  @include m.center(column);
  @include m.wh-full;
  .title {
    font: 60px var(--font-chab);
    color: var(--color-dark-beige);
    text-shadow: 2px 2px 4px var(--color-gray);
  }
  .title_point {
    color: var(--color-light-pink);
  }

  .gamelist {
    @include m.grid;
    @include m.whmp(70%, 40%, 40px, 40px);
    border-radius: 15px;
    background-color: var(--color-light-beige);
  }
}
