@import "@/styles/mixins";
.wrapper {
  @include center(row);
  justify-content: flex-start;
  margin-left: 10px;
  .bubbles {
    margin-left: 10px;
    .text {
      @include size(auto, auto, 0, 8px 12px 8px 12px);
      display: inline-block;
      background-color: var(--color-white);
      border-radius: 10px;
    }
  }
}

.reverse {
  justify-content: flex-end;
  margin-right: 10px;
  .bubbles {
    text-align: right;
  }
}
